<languages directory="\HwKws\m" constraints="\HwKws\cortana_constraints.conf" use_service_path="1">
    <language id="1033" name="English - United States" qualityThreshold="50">
        <keyphraseModel>en-US\corlexa_en-US_hq_hwkws.phm</keyphraseModel>
        <acousticModel>en-US\corlexa_en-US_hq.amp</acousticModel>
        <znormPopulation>en-US\corlexa_en-US_hq.nrm</znormPopulation>
        <fwBlob>en-US\cortana_en-US_hq.dsp</fwBlob>
        <universalBackgroundModel>ubm_cortana_hq.bin</universalBackgroundModel>
        <preDefinedKpdSensitivity>en-US\cortana_en-US_hq.th</preDefinedKpdSensitivity>
        <userDefinedKpdSensitivity>en-US\corlexa_en-US_hq_hwkws.th</userDefinedKpdSensitivity>
    </language>
</languages>
